<h1>form</h1>
<form method="post" action="/">
  <div class="input-field">
    <input placeholder="Placeholder" name="date" id="date" type="text" class="validate">
    <label for="date">Дата</label>
  </div>
  <div class="file-field input-field">
    <div class="btn">
      <span>File</span>
      <input type="file" name="path_file" accept=".jpg, .jpeg, .png, .doc, .docx, .ptt, .pptx, .xls, .xlsx, .pdf">
    </div>
    <div class="file-path-wrapper">
      <input class="file-path validate" type="text">
    </div>
  </div>
  <button class="btn btn-primary" type="submit">Send</button>
</form>